<h1>アンケート回答一覧</h1>
<table>
  <thead>
    <tr>
      <th>視聴者</th>
      <th>アンケートタイトル</th>
      <th>回答</th>
      <th>回答日時</th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaire_answers.each do |answer| %>
      <tr>
        <td><%= answer.viewer.name %></td>
        <td><%= answer.questionnaire.name %></td>
        <td>
          <% answer.answers.each do |question_id, response| %>
            <p><strong><%= answer.questionnaire.pre_video_questionnaire[question_id] || answer.questionnaire.post_video_questionnaire[question_id] %>:</strong> <%= response %></p>
          <% end %>
        </td>
        <td><%= answer.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
