<h1>対象Gr.一覧</h1>

<%= link_to "New Group", new_group_path, class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>グループ名</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= link_to "編集", edit_group_path(group), class: "btn btn-outline-secondary" %></td>
        <td><%= link_to "視聴者一覧", group_path(group) %></td>
        <td><%= link_to "削除", group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
