<% provide(:title, "ビデオ投稿") %>
<div class="content">
  <!-- フラッシュメッセージの表示 -->
  <div id="flash-message" style="display: none; color: green; font-weight: bold;"></div>

  <%= form_with(model: @video, url: videos_path, local: true) do |f| %>
    <%= render '/shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-7">
        <div class="field">
          <%= f.label :video %><br>
          <%= f.file_field :video, accept: "video/*", id: "post" %>
        </div>
        <div class="choice_box">ドラック＆ドロップまたはクリック</div><br>
        <div id="show"></div>
      </div>
      <div class="col-md-5 video-info">
        <div class="field">
          <%= f.label :title, class: "video-label" %><br>
          <%= f.text_field :title, id: "title" %><br>
        </div>
        <div class="field">
          <%= f.label :open_period, class: "video-label" %><br>
          <%= f.datetime_field :open_period, id: "open_period" %>
        </div>
        <div class="field">
          <%= f.label :range, class: "video-label" %><br>
          <%= f.select :range, [['一般公開', 0], ['限定公開', 1]], { include_blank: false, selected: 0 }, id: "range" %>
        </div>
        <div class="field">
          <%= f.label :comment_public, class: "video-label" %><br>
          <%= f.select :comment_public, [['公開', 0], ['非公開', 1]], { include_blank: false, selected: 0 }, id: "comment_public" %>
        </div>
        <div class="field">
          <%= f.label :login_set, class: "video-label" %><br>
          <%= f.select :login_set, [['ログイン不要', 0], ['ログイン必要', 1]], { include_blank: false, selected: 0 }, id: "login_set" %>
        </div>
        <div class="field">
          <%= f.label :popup_before_video, class: "video-label" %><br>
          <%= f.select :popup_before_video, [['動画視聴開始時ポップアップ非表示', 0], ['動画視聴開始時ポップアップ表示', 1]], { include_blank: false }, id: "popup_before_video" %>
          <div id="select-questionnaire-before" style="display: none;">
            <%= link_to 'アンケートを選択', user_questionnaires_path(current_user, apply: true, type: 'pre_video'), class: 'btn btn-primary', id: 'select-pre-video-questionnaire' %>
          </div>
          <%= hidden_field_tag 'video[pre_video_questionnaire_id]', nil, id: 'pre_video_questionnaire_id' %>
        </div>
        <div class="field">
          <%= f.label :popup_after_video, class: "video-label" %><br>
          <%= f.select :popup_after_video, [['動画視聴終了時ポップアップ非表示', 0], ['動画視聴終了時ポップアップ表示', 1]], { include_blank: false }, id: "popup_after_video" %>
          <div id="select-questionnaire-after" style="display: none;">
            <%= link_to 'アンケートを選択', user_questionnaires_path(current_user, apply: true, type: 'post_video'), class: 'btn btn-primary', id: 'select-post-video-questionnaire' %>
          </div>
          <%= hidden_field_tag 'video[post_video_questionnaire_id]', nil, id: 'post_video_questionnaire_id' %>
        </div>

        <div class="field">
          <%= f.label :folders, class: "video-label" %><br>
          <%= collection_check_boxes(:video, :folder_ids, Folder.current_user_has(current_user).includes([:organization]), :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %><br>
          <%= link_to "フォルダ新規作成はこちら", new_organization_folder_path(organization_id: current_user.organization.id), remote: true %>
        </div>
        <div class="video-post-actions">
          <%= f.submit "新規投稿", class: "btn btn-success"%>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<script>
  document.addEventListener('turbolinks:load', function() {
    document.querySelectorAll('a[id^="select-"][id$="-video-questionnaire"]').forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();

        var popupBeforeVideo = document.getElementById('popup_before_video').value;
        var popupAfterVideo = document.getElementById('popup_after_video').value;

        var url = new URL(link.href);
        url.searchParams.set('popup_before_video', popupBeforeVideo);
        url.searchParams.set('popup_after_video', popupAfterVideo);

        // フラッシュメッセージをセッションストレージに保存
        sessionStorage.setItem('flashMessage', 'アンケートを選択しました。');

        window.location.href = url.toString();
      });
    });
  });

  document.addEventListener('turbolinks:load', function() {
    var preVideoField = document.getElementById('pre_video_questionnaire_id');
    var postVideoField = document.getElementById('post_video_questionnaire_id');

    var urlParams = new URLSearchParams(window.location.search);
    var popupBeforeVideo = urlParams.get('popup_before_video');
    var popupAfterVideo = urlParams.get('popup_after_video');

    console.log('popupBeforeVideo:', popupBeforeVideo); // デバッグ用ログ
    console.log('popupAfterVideo:', popupAfterVideo); // デバッグ用ログ

    // セレクトボックスの値を更新
    if (popupBeforeVideo) {
      document.getElementById('popup_before_video').value = popupBeforeVideo;
    }

    if (popupAfterVideo) {
      document.getElementById('popup_after_video').value = popupAfterVideo;
    }

    // 要素が存在するかどうか確認するためのデバッグ情報を追加
    var selectQuestionnaireBefore = document.getElementById('select-questionnaire-before');
    var selectQuestionnaireAfter = document.getElementById('select-questionnaire-after');
    console.log('selectQuestionnaireBefore element:', selectQuestionnaireBefore);
    console.log('selectQuestionnaireAfter element:', selectQuestionnaireAfter);

    if (popupBeforeVideo === '1' && selectQuestionnaireBefore) {
      console.log('Setting select-questionnaire-before to block');
      selectQuestionnaireBefore.style.display = 'block';
    } else {
      console.log('popupBeforeVideo condition not met or element not found');
    }

    if (popupAfterVideo === '1' && selectQuestionnaireAfter) {
      console.log('Setting select-questionnaire-after to block');
      selectQuestionnaireAfter.style.display = 'block';
    } else {
      console.log('popupAfterVideo condition not met or element not found');
    }

    var selectedQuestionnaireId = sessionStorage.getItem('selectedQuestionnaireId');
    var questionnaireType = sessionStorage.getItem('questionnaireType');

    if (questionnaireType === 'pre_video' && preVideoField) {
      preVideoField.value = selectedQuestionnaireId;
      console.log('Pre-video questionnaire ID set:', preVideoField.value);
    }

    if (questionnaireType === 'post_video' && postVideoField) {
      postVideoField.value = selectedQuestionnaireId;
      console.log('Post-video questionnaire ID set:', postVideoField.value);
    }

    sessionStorage.removeItem('selectedQuestionnaireId');
    sessionStorage.removeItem('questionnaireType');

    // フラッシュメッセージを表示
    var flashMessage = sessionStorage.getItem('flashMessage');
    if (flashMessage) {
      var flashMessageDiv = document.getElementById('flash-message');
      flashMessageDiv.innerText = flashMessage;
      flashMessageDiv.style.display = 'block';
      sessionStorage.removeItem('flashMessage');
    }
  });
</script>
