<% provide(:title,  "ビデオ詳細") %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="content">
  <div class="video-display-show">
    <!-- vimeoの動画詳細ページのパスから、id部分のみを取得し、数字型に変換したものをsrcの中に記載 -->
    <iframe id="vimeoPlayer" src="htatps://player.vimeo.com/video/<%= @video.data_url[8..17].to_i %>" width="1000px" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
  </div>
  <div class="video-title-and-action-show">
    <%= @video.title %>
    <div class="btn-area row">
      <div class="col-md-9">
        <%= link_to "設定", edit_video_path(@video), remote: true, class: "btn btn-success" if user_signed_in? || system_admin_signed_in? %>
        <%= @video.hidden_button %>
      </div>
      <% if user_signed_in? || system_admin_signed_in? %>
        <div class="col-md-3">
          <button class="copy-button" id="id-copy-button">URLをコピー
            <span class="copied" id="id-copied">URLをコピーしました</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- 動画コメント ------------------------------------------------------------------------>
<div class="container">
  <div class="row">
    <div class="col-8">
      <% if account_logged_in? %>
        <div class="comment-create">
          <h4 class="text-left">コメントを投稿する</h4>
            <%= render partial: 'comments/form' %>
        </div><br>
      <% end %>
      <hr>
      <div class="comment-create">
        <h4 class="text-left title">コメント</h4>
      </div>
      <div id="comments_area">
        <%= render partial: 'comments/index' if @comments.present? %>
      </div>
    </div>
  </div>
</div>
<!-- 動画コメント ------------------------------------------------------------------------>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
