<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      <h1 class="modal-title">アンケート回答</h1>
    </div>
    <div class="modal-body">
      <% if @questionnaire_answers.any? %>
        <p><strong>視聴者:</strong> <%= @questionnaire_answers.first.viewer_name %></p>
        <p><strong>メールアドレス:</strong> <%= @questionnaire_answers.first.viewer_email %></p>
      <% end %>

      <% @pre_questionnaire_answers.each do |questionnaire_answer| %>
        <% if questionnaire_answer.pre_answers.present? %>
          <h2>動画視聴前の回答</h2>
          <% questionnaire_answer.pre_questions.each_with_index do |question, index| %>
            <div>
              <p><strong>質問:</strong> <%= question["text"] %></p>
              <p><strong>回答:</strong> 
                <% if questionnaire_answer.pre_answers[index].present? %>
                  <%= questionnaire_answer.pre_answers[index] %>
                <% else %>
                  回答なし
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>

        <% if questionnaire_answer.post_answers.present? %>
          <h2>動画視聴後の回答</h2>
          <% questionnaire_answer.post_questions.each_with_index do |question, index| %>
            <div>
              <p><strong>質問:</strong> <%= question["text"] %></p>
              <p><strong>回答:</strong> 
                <% if questionnaire_answer.post_answers[index].present? %>
                  <%= questionnaire_answer.post_answers[index].is_a?(Array) ? questionnaire_answer.post_answers[index].join(", ") : questionnaire_answer.post_answers[index] %>
                <% else %>
                  回答なし
                <% end %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
