<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      <h1 class="modal-title">アンケート回答</h1>
    </div>
    <div class="modal-body">
      <p><strong>視聴者:</strong> <%= @questionnaire_answer.viewer_name %></p>
      <p><strong>メールアドレス:</strong> <%= @questionnaire_answer.viewer_email %></p>

      <% if @questionnaire_answer.video.popup_before_video == true %>
        <% @pre_video_questions.each_with_index do |question, index| %>
          <div>
            <p><strong>質問:</strong> <%= question["text"] %></p>
            <p><strong>回答:</strong> 
              <% if @questionnaire_answer.answers.present? && @questionnaire_answer.answers[index].present? %>
                <%= @questionnaire_answer.answers[index] %>
              <% else %>
                回答なし
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>

      <% if @questionnaire_answer.video.popup_after_video == true %>
        <% @post_video_questions.each_with_index do |question, index| %>
          <div>
            <p><strong>質問:</strong> <%= question["text"] %></p>
            <p><strong>回答:</strong> 
              <% if @questionnaire_answer.answers.present? && @questionnaire_answer.answers[@pre_video_questions.size + index].present? %>
                <%= @questionnaire_answer.answers[@pre_video_questions.size + index] %>
              <% else %>
                回答なし
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
