<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      <% if @questionnaire_answer.pre_answers.present? %>
        <h1 class="modal-title">アンケート回答（動画視聴前）</h1>
      <% else %>
        <h1 class="modal-title">アンケート回答（動画視聴後）</h1>
      <% end %>

    </div>
    <div class="modal-body">
      <% if @questionnaire_answer.viewer_name.present? %>
        <p><strong>視聴者:</strong> <%= @questionnaire_answer.viewer_name %></p>
        <p><strong>メールアドレス:</strong> <%= @questionnaire_answer.viewer_email %></p>
      <% end %>
      <!-- 動画視聴前の回答を表示 -->
      <% if @questionnaire_answer.video.popup_before_video == true && @questionnaire_answer.pre_answers.present? %>
        <% @pre_video_questions.each_with_index do |question, index| %>
          <div>
            <p><strong>質問:</strong> <%= question["text"] %></p>
            <p><strong>回答:</strong> 
              <% if @questionnaire_answer.pre_answers.present? && @questionnaire_answer.pre_answers[index].present? %>
                <%= @questionnaire_answer.pre_answers[index] %>
              <% else %>
                回答なし
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>

      <!-- 動画視聴後の回答を表示 -->
      <% if @questionnaire_answer.video.popup_after_video == true && @questionnaire_answer.post_answers.present? %>
        <% @post_video_questions.each_with_index do |question, index| %>
          <div>
            <p><strong>質問:</strong> <%= question["text"] %></p>
            <p><strong>回答:</strong> 
              <% if @questionnaire_answer.post_answers.present? && @questionnaire_answer.post_answers[index].present? %>
                <%= @questionnaire_answer.post_answers[index] %>
              <% else %>
                回答なし
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
