<html>
<!DOCTYPE html>
<html lang = "ja">
<head>
  <meta charset = "utf-8">
  <title>動画投稿ページ</title>
  <link rel="stylesheet" href = "/Users/shimatanitakahiro/video_share_app/app/javascript/stylesheets/aws_s3.scss">
</head>

<body>
  <div class = "title">動画投稿ページ<div>
    <div class="field">
          <%= f.label :title, class: "title" %><br>
          <%= f.text_field :title, id: "" %><br>

           <%= f.label :title, class: "file_url" %><br>
          <%= f.text_field :title, id: "" %><br>

           <%= f.label :title, class: "thumbnail_url" %><br>
          <%= f.text_field :title, id: "" %><br>

           <%= f.label :title, class: "status" %><br>
           <%= f.text_field :title, id: "" %><br>
        
    </div>
 
</body>

<footer>
</footer>

</html>