<!-- _questionnaires_list.html.erb -->
<%= will_paginate @questionnaires, remote: true %>
<% @questionnaires.each do |questionnaire| %>
  <div class="questionnaire">
    <h2><%= questionnaire.name %></h2>
    <ul>
      <% JSON.parse(questionnaire.pre_video_questionnaire).each do |question| %>
        <li><%= question['text'] %></li>
      <% end %>
    </ul>
    <%= link_to 'このアンケートを選択', select_questionnaire_path(questionnaire.id), method: :post %>
  </div>
<% end %>
<%= will_paginate @questionnaires, remote: true %>
