<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <!--視聴状況の取得のために追加 -->
    <link rel="canonical" href="https://syncer.jp/Web/API_Interface/Reference/IDL/HTMLMediaElement/played/"> 
    <!-- ここまで -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://player.vimeo.com/api/player.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'videos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'videos', 'data-turbolinks-track': 'reload' %>
    <!--視聴状況の取得のために追加 -->
    <script src="https://demo.syncer.jp/js/demo-web_api_interface.js"></script>
    <script>
      window.addEventListener( "load", function () {
      // document.addEventListener("turbolinks:load", function(){
	      syncer.setup({
		      property: {
			      get:{
				      use: true ,
				      callback: (typeof getProperty === "function" ? getProperty : null),
				      observe: true,
			      },
		      },
		      error: {
			    use: true,
		      },
		      console: {
			    use: true,
		      },
	      });
     
        // 監視にチェックが入るとプロパティを取得(デフォルトで入っている)
        function getProperty(){
          // 動画を取得
          const media = document.getElementById("mv");
          // 動画の再生状況を取得
          const returnValue = media.played ;
          // 再生状況のデータの個数を取得
          const n = returnValue.length
    
          media.addEventListener('timeupdate', function(){
            document.getElementById('latest_start_point').innerHTML = returnValue.start(n-1);
            document.getElementById('latest_end_point').innerHTML = returnValue.end(n-1);
          });
        // console.log( "プロパティの値", returnValue);
        };
      });
    </script>
    <!--ここまで--> 
  </head>
  <body class="hold-transition sidebar-mini" id="<%= page_body_id(params) %>">
    <div class="wrapper">
      <% if current_system_admin.present? %> 
        <%= render "layouts/system_admins/header" %> 
      <% elsif current_user.present? %>
        <%= render "layouts/users/header" %>
      <% elsif current_viewer.present? %>
        <%= render "layouts/viewers/header" %>
      <%end%> 

      <!-- Content side_bar(model) -->
      
      <% if current_system_admin.present? %>
        <%= render "layouts/system_admins/side" %> 
      <% elsif current_user.present? %>
        <%= render "layouts/users/side" %>
      <% elsif current_viewer.present? %>
        <%= render "layouts/viewers/side" %>
      <%end%> 

      <!-- /Content side_bar(model) -->
      <div class="content-wrapper">
        <div id="flash-message">
          <%= render "layouts/flash" %>
        </div>
        <!-- Content Header (Page header) -->
	      <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><%= yield(:title) %></h1>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <%= render template: "layouts/application" %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
